*{
    margin: 1px;
    padding: 1px;
    box-sizing: 2px;
    background-color: rgb(18, 17, 17);
}
div{
   margin-top: 5px;
   padding-top: 2px;
   margin-left: 30px;
   border-bottom: 3px;
   border-style: none;
   text-align: center;
}
.name{
    font-weight: bolder;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: cornsilk;
    text-align: center;
    text-decoration: solid;
}
.biography{
    font-weight: bolder;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(154, 146, 116);
    text-align: center;
    text-decoration: solid;}
.simple{
    font-family: monospace;
    font-size: 50;
    text-align: justify;
    color: rgb(154, 146, 116);
    padding-left: 50px;
    padding-right: 50px;
}
.movies{
    font-weight: bolder;
    font-size: 80;
    font-family: sans-serif;
    color: rgb(154, 146, 116);
    text-align: center;
    text-decoration: solid;}
.list{
    display: flex;
    align-items: center;
    justify-content: center;
    color: beige;
}

.link{
    flex-direction: column;
    display: flex;
    align-items: center;
}
.links{
    font-weight: bolder;
    font-size: 80;
    font-family: sans-serif;
    color: rgb(210, 197, 148);
    text-align: center;
    text-decoration: solid;
}
.button{
    font-weight: bolder;
    font-size: 80;
    font-family: sans-serif;
    color: rgb(235, 233, 229);
    text-align: center;
    text-decoration: solid;
    cursor: pointer; 
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(46, 44, 5);
    border-radius: 9px;
    padding-left: 5px;
    padding-right: 5px;
    }